/* ===========  Gallery page Styling============ */


@font-face {
    font-family: "Poppins";
    src: url('../Poppins/Poppins-Regular.ttf');
}


body {
    position: relative;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    /* background-image: url('/img/b.png');
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: #BFB989; */
    background-color: #fff;
}


.logo {
    position: absolute;
    width: 73px;
    height: 65px;
    left: 165px;
    top: 41px;

}

.navbar ul {
    position: absolute;
    width: 800px;
    height: 49px;
    left: 900px;
    top: 50px;
    float: left;
}

.navbar ul li {
    /* text-decoration: none; */
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}


.navbar ul li a:hover {
    background-color:#3E4233;
    border-radius: 5px;
    color: #BFB989;
    transition: 0.7s ease-in-out;
}
  
  
.navbar ul li a {
    text-decoration: none;
    color: #3E4233;
    padding: 30px;
}

/* Footer */
.footer {
    position: fixed;
    width: 100%;
    height: 122px;
    bottom: 0;
    /* left: 0;
    right: 0; */
    background: #3E4233;
}

.footer-links {
    overflow: hidden;
    padding-bottom: 4px;
    align-items: left;
    left: 170px;
}

/* .footer-links ul {
    margin: 0;
    padding: 0;
    top: 0;
    left: 165px;
} */

.footer-links ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

.footer-links ul li a {
    display: inline-block;
    justify-content: space-between;
    height: 30px;
    padding: 50px;
    position: relative;
    transition: .2s ease-in;
    width: 30px;
    text-decoration: none;
    color: #BFB989;
}

.social-links{
    float: right;
    position: relative;
    bottom: 5em;
    margin-right: 20rem;
}

.social-links a {
    text-decoration: none;
    color: #BFB989;
    display:inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.social-links a:hover {
    text-decoration: none;
    color: #BFB989;
}



.gallery-area {
    height: 300px;
    margin-top: 8em;
}

.image1 {
    float: left;
    margin-left:10em;

}

.image2 {
    float: left;
    margin-left:8em;

}

.image3 {
    float: left;
    margin-left:8em;

}

.gallery-area1 {
    height: 400px;
    margin-top: 2em;
}

.imageone {
    float: left;
    margin-left:10em;

}

.imagetwo {
    float: left;
    margin-left:8em;

}

.imagethree {
    float: left;
    margin-left:8em;

}

.image1 img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.image2 img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.image3 img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.imageone img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.imagetwo img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.imagethree img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
