@font-face {
    font-family: "Poppins";
    src: url('/Poppins/Poppins-Regular.ttf');
}

body {
    position: relative;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #BFB989;
}


.logo {
    position: absolute;
    width: 73px;
    height: 65px;
    left: 165px;
    top: 41px;

}

.navbar ul {
    position: absolute;
    width: 800px;
    height: 49px;
    left: 900px;
    top: 50px;
    float: left;
}

.navbar ul li {
    /* text-decoration: none; */
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}


.navbar ul li a:hover {
    background-color:#3E4233;
    border-radius: 5px;
    color: #BFB989;
    transition: 0.7s ease-in-out;
}
  
  
.navbar ul li a {
    text-decoration: none;
    color: #3E4233;
    padding: 30px;
}

/* CONTENT STYLING */
/* .content-area {
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
} */


.title {
    position: absolute;
    width: 744px;
    height: 92px;
    left: 162px;
    top: 255px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 91px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #3E4233;
}

.para {
    position: absolute;
    width: 1046px;
    height: 216px;
    left: 162px;
    top: 383px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #3E4233;
}

.content-button {
    position: absolute;
    width: 200px;
    height: 99px;
    left: 162px;
    top: 673px;
    background: #3E4233;
    border-radius: 10px;
    color: #BFB989;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content-button:hover{
    background-color: #BFB989;
    color: #3E4233;
    transition: 0.8s ease-out;
}




/* Footer */
.footer {
    position: fixed;
    width: 100%;
    height: 122px;
    bottom: 0;
    /* left: 0;
    right: 0; */
    background: #3E4233;
}

.footer-links {
    overflow: hidden;
    padding-bottom: 4px;
    align-items: left;
    left: 170px;
}

/* .footer-links ul {
    margin: 0;
    padding: 0;
    top: 0;
    left: 165px;
} */

.footer-links ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

.footer-links ul li a {
    display: inline-block;
    justify-content: space-between;
    height: 30px;
    padding: 50px;
    position: relative;
    transition: .2s ease-in;
    width: 30px;
    text-decoration: none;
    color: #BFB989;
}

.social-links{
    float: right;
    position: relative;
    bottom: 5em;
    margin-right: 20rem;
}

.social-links a {
    text-decoration: none;
    color: #BFB989;
    display:inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.social-links a:hover {
    text-decoration: none;
    color: #BFB989;
}



